<div>

  <h1>Administración de artículos</h1>

  <!-- comprobamos si hay articulos (si en el array hay más de 0 elementos) -->
  <!-- si hay más de 0 elementos en el array, mostrará una tabla -->
  <table border="1" *ngIf="hayRegistros(); else sinarticulos">
    <tr>
      <td>Codigo</td>
      <td>Descripcion</td>
      <td>Precio</td>
      <td>Borrar</td>
      <td>Seleccionar</td>
    </tr>
    <!-- recorrerá el array de articulos e imprimirá su codigo, decripcion y precio -->
    <tr *ngFor="let art of articulos">
      <td>{{art.codigo}}</td>
      <td>{{art.descripcion}}</td>
      <td>{{art.precio}}</td>
      <!-- aparecerá un botón que al clickar en él borrará el artículo teniendo en cuenta su codigo unico -->
      <td><button (click)="borrar(art.codigo)">Borrar?</button></td>
      <!-- aparecerá un botón que al clickar en él seleccionará el artículo completo para que su información aparezca en los inputs -->
      <td><button (click)="seleccionar(art)">Seleccionar</button></td>
    </tr>
  </table>

  <!-- si no hay más de 0 elementos en el array nos mostrará un mensaje indicandonoslo -->
  <ng-template #sinarticulos>
    <p>No hay articulos.</p>
  </ng-template>

  <!-- aqui se recogerá la información de los articulos, de base estará vacía (0, "", 0) -->
  <!-- si hemos seleccionado algun articulo, aquí mostrará sus datos (codigo, descripcion, precio) -->
  <div>
    <p>
      Codigo:<input type="number" [(ngModel)]="art.codigo" />
    </p>
    <p>
      descripcion:<input type="text" [(ngModel)]="art.descripcion" />
    </p>
    <p>
      precio:<input type="number" [(ngModel)]="art.precio" />
    </p>
    <p>
      <!-- para agregar el articulo en el array -->
      <button (click)="agregar()">Agregar</button>
      <!-- para modificar el articulo seleccionado  -->
      <button (click)="modificar()">Modificar</button>
    </p>
  </div>

</div>